{% extends "dataviewer/base.html" %}
{% block headtag %}
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src="https://cdnjs.cloudflare.com/ajax/libs/native-promise-only/0.8.1/npo.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.css' rel='stylesheet' />

<style>
  body { margin:0; padding:0; }
  .mvt-wrapper { position: relative; min-height: 400px; }
  #map { position: absolute; top:0; bottom:0; width:100%; }
  .menu { position:absolute; z-index:1; top:10px; left:10px; }
  .menu button { display:block; width:100%; }
</style>
</
{% endblock %}

{% block page %}
<div class="mvt-wrapper" id="mvt-wrapper">
  <nav id='menu' class='menu'></nav>
  <div id='map'></div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}

<script>
  var tilejson = "{{h.literal(tilejson)}}"
  if (tilejson !== 'None') {
    mapboxgl.accessToken = "{{h.literal(mapbox.key)}}";
    var map = new mapboxgl.Map({
              container: 'map',
              style: 'mapbox://styles/{{h.literal(mapbox.account)}}/{{h.literal(mapbox.defaultStyle)}}',
            });

    var baseStyles = "{{h.literal(mapbox.styles)}}"
    var menu = document.getElementById('menu');
    var layer;

    function addData() {
      map.addSource('data', layer);
      map.fitBounds([[layer.bounds[0], layer.bounds[1]], [layer.bounds[2], layer.bounds[3]]], {padding: 20})
    }

    map.on('source.load', function (e) {
      if (e.source.id === 'data') {
        map.addLayer({
          "id": "data",
          "type": "line",
          "source": "data",
          "source-layer": "data_layer",
          "layout": {
            "line-join": "round",
            "line-cap": "round"
          },
          "paint": {
            "line-color": "#ff69b4",
            "line-width": 1
          }
        });
        map.addLayer({
          "id": "points",
          "type": "circle",
          "source": "data",
          "source-layer": "data_layer",
          "filter": ["==", "$type", "Point"],
          "paint": {
            "circle-color": "#ff69b4",
            "circle-radius": 2
          }
        });
      }
    })

    map.on('style.load', function () {
      // Makes sure that the data layer is added each time a new style is loaded
      if (layer) addData();
    });

    map.on('load', function () {
      fetch(tilejson)
      .then(function (response) {
        return response.json()
      }).then(function (tilejson) {
        layer = tilejson;
        layer.type = 'vector'
        addData();
      })
    });

  } else {
    var wrapper = document.getElementById('mvt-wrapper');
    wrapper.innerHTML = 'Data processing...Preview not yet available.'
 }
</script>

{# No need to create a menu if there are no multiple styles #}
{% if mapbox.styles|length > 1 %}
  {% for l in mapbox.styles %}
  <script>
    var button = document.createElement('button');
    button.className = 'btn'
    button.textContent = '{{ h.literal(l.label) }}';
    button.addEventListener('click', function() {
      map.setStyle('mapbox://styles/{{ h.literal(mapbox.account) }}/{{ h.literal(l.id) }}');
    });

    menu.appendChild(button);
  </script>
  {% endfor %}
{% endif %}

{% endblock %}
